<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CardTrack</title>
  </head>
  <body>
    <% if (locals.genres) {%>
        <h1%><%=title %></h1>
        <div>New Card Details:</div></br>
        <div>Please note: To successfully complete this form you must load Rarity, Genres and Edition types prior to Card creation. </div><br/>
        <form action="/createcard" method="POST">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" style="width:250px;" required /></br>
            <label for="description">Description: </label>
            <input type="text" id="description" name="description" required /></br>
            <label for="rarity">Rarity: </label>
            <select name="rarity" id="rarity" required>
    
        <% raritys.forEach(rarity => { %>
        <option value="<%=rarity.id %>"><%=rarity.raritylevel %></option>
    
        <%})  %>
    
            </select><br/>
            <label for="genre">Genre: </label>
            <select name="genre" id="genre" required>
                
                <% genres.forEach(genre => { %>
                    <option value="<%=genre.id %>"><%=genre.genre %></option>
    
                    <%}) %>
            </select><br/>
            <label for="edition">Edition: </label>
            <select name="edition" id="edition" required>
                <% editions.forEach(edition => { %>
                    <option value="<%=edition.id %>"><%=edition.edition %></option>
    
                    <%}) %>
            </select><br/>
            <label for="img">Image URL: </label>
            <input type="text" id="img" name="img" required /></br></br> 
            <button type="submit">Submit</button>
          </form><br/><br/>
          <a href="/">Back to Home</a>
        <%} else if (locals.newGenre) { %>
            <h1%><%=title %></h1>
            <div>New Genre:</div></br>

            <form action="/creategenre" method="POST">
            <label for="genre">Genre: </label>
            <input type="text" id="img" name="genre" required /></br></br> 
            <button type="submit">Submit</button>
</form>
            <%} else if (locals.newEdition) {%>
                <h1%><%=title %></h1>
                <div>New Edition:</div></br>
    
                <form action="/createedition" method="POST">
                <label for="edition">Edition: </label>
                <input type="text" id="img" name="edition" required /></br></br>  
                <button type="submit">Submit</button>
                  </form>
                <%}%>
  </body>
</html>
